#!/usr/bin/python3

#Author: Denis Avramenko
#Created for: PFSOFT LLC
#Creation date: 2017-03-29

import pyudev
import json
import sys
import subprocess
import argparse

parser = argparse.ArgumentParser()

parser.add_argument("--discovery", help="Discovery HDD")
parser.add_argument("--hdd", help="HDD name")

options = parser.parse_args()

def hdd_discovery():
  virt = subprocess.Popen("virt-what", stdout=subprocess.PIPE)
  virt_status = virt.communicate()[0].decode("utf-8")
  hdd_list = []

  if virt_status == '':
    try: 
      context = pyudev.Context()

      for device in context.list_devices(MAJOR='8'):
        if (device.device_type == 'disk'):
          hdd_list.append({
                        "{#HDDNAME}":device.device_node
                    })

      hdds = { "data":hdd_list }

      print(json.dumps(hdds))
    except  Exception as e:
      print (str(e))
  
def hdd_smart_test(hdd):
  command = "smartctl -d sat --all " + hdd
  smart_test = subprocess.Popen(command.split(), stdout=subprocess.PIPE)
  result = str(smart_test.communicate()).split('\n')
  print(result[0])

if options.discovery:
  hdd_discovery()

if options.hdd:
  hdd_smart_test(options.hdd)


