#!/bin/bash
CLIENT=$1
DB=$2
USER=postgres
BACKDIR="/var/lib/pgsql/backup/$1/$3"
BACKFILE=$CLIENT`date +"%Y%m%d%H%M"`
limit=6

if [ -n "$(ps aux | grep pg_dump | grep -v grep)" ]; then logger pg_dump started by another process;exit 0; fi

if [ -d $BACKDIR ]
then
    echo "Backup directory found"
else
    echo "Backup direcroty not found. Creating..."
    mkdir -p $BACKDIR
fi

/usr/bin/pg_dump $DB > $BACKDIR/$BACKFILE.sql && cd $BACKDIR/ && zip $BACKFILE.zip $BACKFILE.sql && rm -rf ./*.sql

n=1
for i in `ls $BACKDIR -t`
do
    if [ $n -gt $limit ]
     then
          rm -Rvf $BACKDIR/$i
     fi
    n=$(($n+1))
done

